div.feeds-page form > input {
  width: 250px;
}

div.feeds-page form > span > input {
  margin-left: .5rem;
}

div.feeds-page ul.feed-list {
  padding: 0;
  list-style: none;
}

div.feeds-page ul.feed-list > li {
  margin-bottom: .5rem;
}

div.feeds-page ul.feed-list > li > small {
  display: block;
  font-size: .8rem;
  margin-top: -3px;
}
