div.items-page div.item-list {
  flex: 3;
}

div.items-page div.item-list div.controls-container {
  margin-bottom: 1rem;
}

div.items-page div.item-list > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div.items-page div.item-list > ul > li {
  margin-bottom: .5rem;
}

div.items-page div.item-list > ul > li.selected {
  background-color: var(--color-selected);
}

div.items-page div.item-list > ul > li > small {
  display: block;
  font-size: .8rem;
  margin-top: -3px;
}

div.items-page div.item-list {
  padding-right: 1rem;
}

div.items-page div.item-viewer {
  flex: 1;
  border-left: 1px var(--color-sep) solid;
  padding: 0 1.5rem;
  overflow-wrap: break-word;
  font-size: 1rem;
}

div.items-page div.item-viewer .heading {
  font-size: 1.5rem;
}

div.items-page div.item-viewer .heading > button {
  font-size: 1.2rem;
  margin-left: 5px;
}

div.items-page div.item-viewer h1 {
  font-size: 1.5rem;
}

div.items-page div.item-viewer img {
  width: 100%;
}

div.items-page div.item-viewer ul {
  padding: 0;
  margin-left: 1.2rem;
}

div.items-page div.item-viewer blockquote {
  margin: 0;
  padding-left: 1rem;
  border-left: 3px solid var(--color-sep);
}

div.items-page div.item-viewer * {
  margin-top: 0;
  margin-bottom: .5rem;
}

div.items-page div.item-viewer li {
  margin-bottom: .2rem;
}
