div.items-page div.item-list {
  flex: 3;
}

div.items-page div.item-list div.controls-container {
  margin-bottom: 1rem;
}

div.items-page div.item-list > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div.items-page div.item-list > ul > li {
  margin-bottom: .5rem;
}

div.items-page div.item-list > ul > li.selected {
  background-color: yellow;
}

div.items-page div.item-list > ul > li > small {
  display: block;
  font-size: .8rem;
  margin-top: -3px;
}

div.items-page div.item-list {
  padding-right: 1rem;
}

div.items-page div.item-viewer {
  flex: 1;
  border-left: 1px #9f9f9f solid;
  padding: 0 1.5rem;
  overflow-wrap: break-word;
}

div.items-page div.item-viewer img {
  width: 100%;
}
