ul.setting-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.setting-list > li {
  margin-bottom: .5rem;
}

ul.setting-list > li > small {
  display: block;
  font-size: .8rem;
  margin-top: -3px;
}

label, button {
  margin-left: 5px;
}
