div.settings-page ul.setting-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

div.settings-page ul.setting-list > li {
  margin-bottom: .5rem;
}

div.settings-page ul.setting-list > li > small {
  display: block;
  font-size: .8rem;
  margin-top: -3px;
}

div.settings-page label,
div.settings-page button {
  margin-left: 5px;
}
