:root {
  padding: 16px;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

div {
  display: flex;
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.sep {
  color: #9f9f9f;
}

.lowp {
  opacity: .6;
}

a {
  color: #005ccc;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
